<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>

  <connectionStrings>
    <add name="perfmon" providerName="mspdh" connectionString="." />
    <add name="sonar" providerName="wsman" connectionString="Server=sonar;" />
 </connectionStrings>

  <Sonar>
    <Runtime scrapeIntervalSeconds="5" skipSSLCheck="true" threads="1"/>
    <InputAdapters>
      <add provider="wsman" type="Infragravity.Sonar.Adapters.WsMan.WsmanAdapterFactory,Sonar" />
      <add provider="mspdh" type="Infragravity.Sonar.Adapters.PerformanceCounter.PerfCounterAdapterFactory,Infragravity.Sonar.Adapters.PerformanceCounter" />
    </InputAdapters>

    <Servers>
        <add name="sonar" url="http://localhost:5985/wsman" username="" password="" timeoutMilliseconds="1000" authType="Negotiate"/>
    </Servers>

    <Schedules>

    <add name="uptime" query="win_wmi_uptime" input="sonar" intervalSeconds="20" />
    <add name="disk_size" query="win_wmi_disk_size" input="sonar" intervalSeconds="20" />
    <add name="cpu" query="win_perfmon_cpu" input="perfmon" intervalSeconds="20" />
    <add name="win_load" query="win_perfmon_processor_queue" input="perfmon" intervalSeconds="20" />
    <add name="wmi_memory" query="win_wmi_memory_installed_kb" input="sonar" intervalSeconds="20" />
    <add name="memory" query="win_perfmon_memory_available" input="perfmon" intervalSeconds="20" />
    <add name="disk_c" query="win_perfmon_disk_c" input="perfmon" intervalSeconds="20" />
    <add name="page_file" query="win_perfmon_page_file" input="perfmon" intervalSeconds="20" />
    <add name="tcp_segmemts_retransmitted" query="win_perfmon_tcp_segmemts_retransmitted" input="perfmon" intervalSeconds="20" />
    <add name="service_sql_server" query="win_wmi_service_sql_server" input="sonar" intervalSeconds="20" />
    <add name="service_sql_agent" query="win_wmi_service_sql_agent" input="sonar" intervalSeconds="20" />
    <add name="sql_server_memory" query="win_perfmon_sql_server_memory" input="perfmon" intervalSeconds="20" />
    <add name="sql_server_data_files_all" query="win_perfmon_sql_server_data_files_all" input="perfmon" intervalSeconds="20" />
    <add name="sql_server_database_pages" query="win_perfmon_sql_server_database_pages" input="perfmon" intervalSeconds="20" />
    <add name="sql_server_user_connections" query="win_perfmon_sql_server_user_connections" input="perfmon" intervalSeconds="20" />
    <add name="sql_server_network_io_waits" query="win_perfmon_sql_server_network_io_waits" input="perfmon" intervalSeconds="20" />
    <add name="sql_server_active_parallel_threads" query="win_perfmon_sql_server_active_parallel_threads" input="perfmon" intervalSeconds="20" />
    <add name="sql_server_longest_block" query="win_perfmon_sql_server_longest_block" input="perfmon" intervalSeconds="20" />
    <add name="sql_server_longest_query_time" query="win_perfmon_sql_server_longest_query_time" input="perfmon" intervalSeconds="20" />
    <add name="sql_server_days_since_last_backup" query="win_perfmon_sql_server_days_since_last_backup" input="perfmon" intervalSeconds="20" />
    <add name="sql_server_baseline_duration_last_run" query="win_perfmon_sql_server_baseline_duration_last_run" input="perfmon" intervalSeconds="20" />
    <add name="sql_server_tempdb_usage" query="win_perfmon_sql_server_tempdb_usage" input="perfmon" intervalSeconds="20" />
    <add name="disk_e" query="win_perfmon_disk_e" input="perfmon" intervalSeconds="20" />

    </Schedules>

    <Queries>

    <add name="win_wmi_uptime"
    filter="SELECT SystemUpTime FROM Win32_PerfFormattedData_PerfOS_System"
    resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"
    namespace="root\cimv2">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="SystemUpTime" value="CimType.UInt64"/>
        </Values>
    </add>

    <add name="win_wmi_disk_size"
    filter="select Name,Size,FreeSpace from Win32_LogicalDisk"
    resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"
    namespace="root\cimv2">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="Size" value="CimType.UInt64"/>
            <add name="FreeSpace" value="CimType.UInt64"/>
        </Values>
    </add>

    <add name="win_perfmon_cpu"
    type="raw" filter=""
    resource="." namespace="Processor(_Total)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="percent_cpu_time" value="% Processor Time"/>
        </Values>
    </add>

    <add name="win_perfmon_processor_queue"
    type="raw" filter="" resource="." namespace="System">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="processor_queue_aka_load" value="Processor Queue Length"/>
        </Values>
    </add>

    <add name="win_wmi_memory_installed_kb"
    filter="SELECT TotalVisibleMemorySize FROM Win32_OperatingSystem"
    resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"
    namespace="root\cimv2">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="TotalVisibleMemorySize" value="CimType.UInt64"/>
        </Values>
    </add>

    <add name="win_perfmon_memory_available"
    type="raw" filter="" resource="." namespace="Memory">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="available_kbytes" value="Available KBytes"/>
        </Values>
    </add>

    <add name="win_perfmon_disk_c"
    type="raw" filter="" resource="." namespace="LogicalDisk(C:)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="read_bytes_per_second" value="Disk Read Bytes/sec"/>
            <add name="write_bytes_per_second" value="Disk Read Bytes/sec"/>
            <add name="avg_queue_length" value="Avg. Disk Queue Length"/>
        </Values>
    </add>

    <add name="win_perfmon_page_file"
    type="raw" filter="" resource="." namespace="Paging File(_Total)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="usage" value="% Usage"/>
        </Values>
    </add>

    <add name="win_perfmon_tcp_segmemts_retransmitted"
    type="raw" filter="" resource="." namespace="TCPv4">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="per_sec" value="Segments Retransmitted/sec"/>
        </Values>
    </add>

    <add name="win_wmi_service_sql_server"
    filter="SELECT ProcessID FROM Win32_Service WHERE Name = 'MSSQLSERVER'"
    resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"
    namespace="root\cimv2">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="ProcessId" value="CimType.UInt32"/>
        </Values>
    </add>

    <add name="win_wmi_service_sql_agent"
    filter="SELECT ProcessID FROM Win32_Service WHERE Name = 'SQLSERVERAGENT'"
    resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"
    namespace="root\cimv2">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="ProcessId" value="CimType.UInt32"/>
        </Values>
    </add>

    <add name="win_perfmon_sql_server_memory"
    type="raw" filter="" resource="." namespace="SQLServer:Memory Manager">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="used" value="Total Server Memory (KB)"/>
            <add name="committed_unused" value="Free Memory (KB)"/>
        </Values>
    </add>

    <add name="win_perfmon_sql_server_data_files_all"
    type="raw" filter="" resource="." namespace="SQLServer:Databases(_Total)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="kb" value="Data File(s) Size (KB)"/>
        </Values>
    </add>

    <add name="win_perfmon_sql_server_database_pages"
    type="raw" filter="" resource="." namespace="SQLServer:Buffer Manager">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="pages" value="Database pages"/>
        </Values>
    </add>

    <add name="win_perfmon_sql_server_user_connections"
    type="raw" filter="" resource="." namespace="SQLServer:General Statistics">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="cxns" value="User Connections"/>
        </Values>
    </add>

    <add name="win_perfmon_sql_server_network_io_waits"
    type="raw" filter="" resource="." namespace="SQLServer:Wait Statistics(Average wait time (ms))">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="waits" value="Network IO waits"/>
        </Values>
    </add>

    <add name="win_perfmon_sql_server_active_parallel_threads"
    type="raw" filter="" resource="." namespace="SQLServer:Workload Group Stats(default)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="threads" value="Active parallel threads"/>
        </Values>
    </add>

    <add name="win_perfmon_sql_server_longest_block
    type="raw" filter="" resource="." namespace="SQLServer:User Settable(User counter 1)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="minutes" value="Query"/>
        </Values>
    </add>

    <add name="win_perfmon_sql_server_longest_query_time"
    type="raw" filter="" resource="." namespace="SQLServer:User Settable(User counter 2)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="minutes" value="Query"/>
    </Values>
    </add>

    <add name="win_perfmon_sql_server_days_since_last_backup"
    type="raw" filter="" resource="." namespace="SQLServer:User Settable(User counter 3)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="days" value="Query"/>
        </Values>
        </add>

    <add name="win_perfmon_sql_server_baseline_duration_last_run"
    type="raw" filter="" resource="." namespace="SQLServer:User Settable(User counter 4)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="minutes" value="Query"/>
        </Values>
    </add>

    <add name="win_perfmon_sql_server_tempdb_usage"
    type="raw" filter="" resource="." namespace="SQLServer:User Settable(User counter 5)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
            <Values>
        <add name="usage" value="Query"/>
        </Values>
       </add>

    <add name="win_perfmon_disk_e"
    type="raw" filter="" resource="." namespace="LogicalDisk(E:)">
        <Tags>
            <add name="Name" value = "Name"/>
        </Tags>
        <Values>
            <add name="read_bytes_per_second" value="Disk Read Bytes/sec"/>
            <add name="write_bytes_per_second" value="Disk Read Bytes/sec"/>
            <add name="avg_queue_length" value="Avg. Disk Queue Length"/>
        </Values>
    </add>

    </Queries>
  </Sonar>
 </configuration>
