<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <appSettings>
    <add key="ConfigPath" value="C:\Program Files\Sonar\Sonar.config"/>
    <add key="RuntimeType" value="Service"/>
    <add key="LogLevel" value="Warning"/>
    <add key="LogPath" value="C:\Program Files\Sonar\Sonard.log"/>
    <add key="ExporterPort" value="9190"/>
    <add key="ExporterCacheMilliseconds" value="300000"/>
    <add key="ExporterEnabled" value="true"/>
  </appSettings>
</configuration>
